# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Environment
.env
.venv/
venv/

# Uploads
backend/uploads/

# Processed Data
processed/

!data/processed/
!data/processed/openml_meta_features.csv

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log